* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    display: block;
}

body {
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

// Container
.container {
    width: 75%;
    margin: 0 auto;
}